# Exercises: Complex queries

For the exercises, you are tasked with writing five queries that will help you delve deeper into BooksDB. You can choose whether you want to use a correlated subquery, a nested subquery, the UNION operator, the INTERSECT operator, or the EXCEPT operator for each one. You may not use joins or add multiple statements to the WHERE clause.

1. Write a query that will return the number of users who rated a book above it's average rating.

In [ ]:
SELECT COUNT(DISTINCT user_id) AS user_count
FROM to_read
WHERE book_id IN (
    SELECT id
    FROM books
    WHERE average_rating > (
        SELECT AVG(average_rating)
        FROM books
    )
);

2. Write a query that returns the book ids of all books that have over 1000 ratings of 1 star or over 1000 ratings of 5 stars.

In [ ]:
SELECT book_id,rating
FROM ratings
WHERE book_id IN (
    SELECT id
    FROM books
    WHERE ratings_count > 1000
      AND (rating = 5 OR rating = 1)
);

3. Write a query that returns the book ids of all books that have over 1000 ratings of 1 star and over 1000 ratings of 5 stars.

In [ ]:
SELECT book_id,rating
FROM ratings
WHERE book_id IN (
    SELECT id
    FROM books
    WHERE ratings_count > 1000
      AND (rating = 1 OR rating = 5)
);

4. Write a query that returns the book ids of books that have a language code of "en-US" and not a langugae code of "en-GB".

In [ ]:
---Query 1:
select book_id,language_code 
from books 
where  language_code ='en-US'

EXCEPT

select book_id,language_code 
from books 
where  language_code ='en-GB'

--- Query 2 
SELECT book_id, language_code
FROM books
WHERE language_code = 'en-US'
  AND book_id NOT IN (
      SELECT book_id
      FROM books
      WHERE language_code = 'en-GB'
  );

5. Write a query that returns the names of the tags and the tag ids for tags that were used over 100,000 times for a book.

In [ ]:
SELECT
    t.tag_id,
    t.tag_name
FROM tags AS t
WHERE t.tag_id IN (
    SELECT bt.tag_id
    FROM book_tags AS bt
    GROUP BY bt.tag_id
    HAVING SUM(COALESCE(bt.[count], 0)) > 100000
);