# SQL Part 1 Studio

Let's practice your SQL querying skills!  For each question, work along in the notebook adding your query and answering the questions.

## Dataset

We will be using the same Goodreads dataset that was used for the exercises in the prep work. Feel free to reference your exercises notebook as you work on the studio. The Kaggle dataset can be found here: [goodbooks-10k](https://www.kaggle.com/zygmunt/goodbooks-10k).

You can access **BooksDB** in the Launchcode server.

## Business Issue

You work for a small independent book store and you want to increase sales by running a new marketing campaign. Before you can design your campaign, you need to get more familiar with what is going on with the world of book publishing. Time to get more familar with BooksDB!

## Part 1: BooksDB Questions

Question 1: Write a query of the `books` table that returns the top 100 results and includes `book_id`, `authors`, `title`, and `average_rating`. Use an alias for at least one column and sort the result set in descending order of rating. What is the number one book?

In [ ]:
select top  100  book_id,authors,title,average_rating  as total_average from books;

Question 2: Write a query to find the least popular book.

In [ ]:
SELECT min(ratings_count) AS min_ratings
FROM books;

Question 3: Which tag is the most popular?

In [ ]:
SELECT  top 1 tag_id, SUM("count") AS total_sum
FROM book_tags
GROUP BY tag_id
ORDER BY total_sum DESC;

Question 4: What is the name of the most popular tag?

In [ ]:
 SELECT TOP 1 tag_name, COUNT(*) AS tag_count
FROM tags
GROUP BY tag_name
ORDER BY tag_count DESC;

Question 5: How many books where released in the first decade of 2000?

In [ ]:
SELECT COUNT(books_count)
FROM books
WHERE original_publication_year BETWEEN 2000 AND 2009;

Question 6: How many book titles contain the word, "happy"?

In [ ]:
SELECT title, COUNT(*) AS title_count
FROM books
WHERE title LIKE '%happy%'
GROUP BY title;

Question 7: List the books from the top 3 authors from Question 1.  If there is more than one author just use the first one. Sort the title alphabetically by `author` and then by `average_rating`, best rated to lowest. Does this order matter in sorting?

In [ ]:
select top 3 authors,title,average_rating from books ORDER BY authors ASC,average_rating DESC;

Question 8: Write a query that returns the number of authors whose first name is between rock and roll.

In [ ]:
SELECT COUNT(DISTINCT authors) AS authors_count
FROM books
WHERE authors LIKE '%rock%' OR authors LIKE '%roll%';

## Part 2: Find the Answers to Your Own Questions

Your Question:  Click here to add a questions that you want to answer and write a query to find the answer!

In [ ]:
---- 1) write query to return top 3  years where more of nummber of books are published ?
select  top 3 original_publication_year,count(*) as books_count from books  group by original_publication_year ORDER BY books_count DESC;

Your Question:  Click here to add a questions that you want to answer and write a query to find the answer!

In [ ]:
---2) Distinct language code books are published?

SELECT DISTINCT language_code
FROM books
WHERE language_code IS NOT NULL
ORDER BY language_code;

If you cannot think of a question you want to ask, here are some question examples to help jumpstart your brainstorming process:

1. What book has the longest title?
1. Which author has written the most books?
1. What were the top ten books published the year I was born?