# SQL Part 3 Studio

Let's practice your SQL querying skills! For each question, work along in the notebook, adding your query and answering the questions.

## The Dataset

We will be using the Goodbooks-10k dataset from the exercises in the prep work. Feel free reference your previous notebooks.

1. The dataset can be found here: [goodbooks-10k](https://www.kaggle.com/zygmunt/goodbooks-10k)
1. You can access `BooksDB` in the LaunchCode server.

## Business Issue

You are an employee at a small independent bookstore and you have been tasked with increasing sales.  You decide to use `BooksDB` to find books and themes to highlight in fun promotions throughout each month and/or season.  We will be starting with March and then you will have a chance to explore another month of your choosing.  We want to come up with a list of promotions to run each month.  If you are looking for ideas, here are some resources on different holidays:

- [https://www.calendarr.com/united-states/calendar-2022/](https://www.calendarr.com/united-states/calendar-2022/)
- [https://www.holidayinsights.com/moreholidays/](https://www.holidayinsights.com/moreholidays/)
    - Click on a month and it will take you to a more detailed page

## Part 1:  March - Women's History Month, National Pie Day (3/14), St. Patrick's Day (3/17), Season - Spring

### Event 1: Women's History Month

Highlight popular women writers based on ratings from `BooksDB` by writing a query that returns `tag_id`, the number of times each `tag_id` is used and the `tag_name`. Use the `GROUP BY` and `HAVING` clause to narrow your focus and try multiple keywords, such as "woman" and "female".

In [ ]:
SELECT 
    t.tag_id AS tag_id,
    t.tag_name,
    COUNT(bt.goodreads_book_id) AS tag_usage,
    AVG(b.average_rating) AS avg_rating
FROM book_tags bt
JOIN tags t 
    ON t.tag_id = bt.tag_id
JOIN books b 
    ON b.id = bt.goodreads_book_id
WHERE t.tag_name LIKE '%women%' 
   OR t.tag_name LIKE '%female%'
   OR t.tag_name LIKE '%woman%'
GROUP BY t.tag_id, t.tag_name
ORDER BY avg_rating DESC, tag_usage DESC;

### Event 2: Choose another event from March/Spring

Write a query to return authors, titles, ratings, and `tag_id` that you would want to promote during your chosen event.

In [ ]:
select t.tag_id,b.authors,b.title,b.average_rating
from books b 
join tags t on b.id = t.tag_id
WHERE t.tag_name LIKE '%women%' 
   OR t.tag_name  LIKE '%female%'
   OR t.tag_name LIKE '%woman%' ;

   -- I would like to feature women-focused books in a special promotion for International Women’s Day on March 8th.

Record your thoughts about why you wrote the query the way you did.

# Part 2: Choose Another Month

Choose another month and plan at least 2 events / promotions and answer the following questions:
1. Which month did you choose?
I choose New year and black friday
1. What 2 events / promotions are you highlighting?
New Year - Focus on fresh beginnings and inspiration.
Black Friday - Focus on big discounts and high-volume sales.

# Part 3: Summarize your Work

For each event write at least one query that joins any two tables in `BooksDB` to support your choice and record you thoughts as to why you used the paticlular query. At least one of your queries needs to include a `HAVING` clause.

In [ ]:
SELECT 
    t.tag_id AS tag_id,
    t.tag_name,
    COUNT(bt.goodreads_book_id) AS tag_usage,
    AVG(b.average_rating) AS avg_rating
FROM book_tags bt
JOIN tags t 
    ON t.tag_id = bt.tag_id
JOIN books b 
    ON b.id = bt.goodreads_book_id
WHERE t.tag_name LIKE '%women%' 
   OR t.tag_name LIKE '%female%'
   OR t.tag_name LIKE '%woman%'
GROUP BY t.tag_id, t.tag_name
ORDER BY avg_rating DESC, tag_usage DESC;

I used this query because it correctly connects the books, book_tags, and tags tables to find books that are related to women authors.
The WHERE clause filters the tags that include words like “women” or “female.”
Then I used GROUP BY to organize the data by title and author, and ORDER BY to sort the results by the average rating and tag usage.
This helps me find the most popular and highly rated books by women authors for promotion.

### Summarize Event 1

Double-click to edit.

In [ ]:
SELECT 
    t.id AS tag_id,
    b.authors,
    b.title,
    b.average_rating,
    COUNT(t.id) AS tag_usage
FROM book_tags bt
JOIN tags t 
    ON t.id = bt.tag_id
JOIN books b 
    ON b.id = bt.goodreads_book_id
WHERE t.tag_name LIKE '%women%'
   OR t.tag_name LIKE '%female%'
   OR t.tag_name LIKE '%woman%'
GROUP BY t.id, b.authors, b.title, b.average_rating
HAVING AVG(b.average_rating) > 4.0  
ORDER BY AVG(b.average_rating) DESC;

This query finds books related to women authors or women-focused tags by joining the books, book_tags, and tags tables.
The WHERE clause filters tags containing “women,” “female,” or “woman.”
It then groups the results by each tag, author, and title to count how many times each tag is used (tag_usage) and to calculate the average rating.
The HAVING clause keeps only books with an average rating above 4.0, and the ORDER BY sorts them from highest to lowest rating.
In short, it highlights top-rated women-related books and authors that are popular based on tag usage.

### Summarize Event 2

Double-click to edit.